In [1]:
import operaciones
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"col1": [2, 3, 5, 6]}
)

df

   col1
0     2
1     3
2     5
3     6

In [3]:
operaciones.normalizar(df, "col1")

       col1
0 -1.095445
1 -0.547723
2  0.547723
3  1.095445

In [4]:
operaciones.estandardizar(df, "col1")

   col1
0  0.00
1  0.25
2  0.75
3  1.00

In [28]:
import pandas as pd

df = pd.DataFrame([('Foreign Cioperaciones.estandardizar(df, "col1")nema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df

                                                name        type  AvgBill
0  Foreign Cioperaciones.estandardizar(df, "col1"...  Restaurant    289.0
1                                          Liho Liho  Restaurant    224.0
2                                           500 Club         bar     80.5
3                                         The Square         bar     25.3

In [29]:
import limpieza

In [30]:
limpieza.reemplazar(df, "AvgBill")

                                                name        type  AvgBill
0  Foreign Cioperaciones.estandardizar(df, "col1"...  Restaurant    154.7
1                                          Liho Liho  Restaurant    154.7
2                                           500 Club         bar    154.7
3                                         The Square         bar    154.7

In [31]:
df["num_personas"] = np.random.randint(1, 6, size=len(df))
print(df)

                                                name        type  AvgBill  \
0  Foreign Cioperaciones.estandardizar(df, "col1"...  Restaurant    289.0
1                                          Liho Liho  Restaurant    224.0
2                                           500 Club         bar     80.5
3                                         The Square         bar     25.3

   num_personas
0             3
1             2
2             3
3             1

In [32]:
import transformaciones

In [33]:
transformaciones.crear_columna_ratio(df, "AvgBill", "num_personas")

,name,type,AvgBill,num_personas,AvgBill_sobre_num_personas
0,"Foreign Cioperaciones.estandardizar(df, ""col1""...",Restaurant,289.0,3,96.333333
1,Liho Liho,Restaurant,224.0,2,112.000000
2,500 Club,bar,80.5,3,26.833333
3,The Square,bar,25.3,1,25.300000

In [36]:
transformaciones.filtrar_por_rango(df, "AvgBill", 100, 300)

,name,type,AvgBill,num_personas
0,"Foreign Cioperaciones.estandardizar(df, ""col1""...",Restaurant,289.0,3
1,Liho Liho,Restaurant,224.0,2

In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv("experiment.csv")
print(df)

   Nombre Apellidos  Altura Sexo  Nacimiento   Cof Categoria
0    Will     Smith    1.43    M  10/10/1920  0.19   laboral
1     Jon      Snow    1.98    M   10/1/1970  0.98   laboral
2    Laia   Ramirez    1.87    F  09/10/1987  0.76      cap6
3    Luzy      Raim    1.67    F  23/07/1979  0.56      cap6
4    Fein      Mang    1.78    M  12/03/1937  0.27      cap6
5  Victor     Colom    1.78    M  22/09/1957  0.97      cap8

In [38]:
bySex = df.groupby('Sexo')
bySex

In [39]:
bySex.describe()

     Altura                                                     Cof          \
      count    mean       std   min     25%   50%   75%   max count    mean
Sexo
F       2.0  1.7700  0.141421  1.67  1.7200  1.77  1.82  1.87   2.0  0.6600
M       4.0  1.7425  0.228674  1.43  1.6925  1.78  1.83  1.98   4.0  0.6025


           std   min   25%   50%     75%   max
Sexo
F     0.141421  0.56  0.61  0.66  0.7100  0.76
M     0.431383  0.19  0.25  0.62  0.9725  0.98

In [40]:
dfM = df.loc[bySex.groups['M'].values] #Recorda que "loc" accedeix per index de fila
dfM

   Nombre Apellidos  Altura Sexo  Nacimiento   Cof Categoria
0    Will     Smith    1.43    M  10/10/1920  0.19   laboral
1     Jon      Snow    1.98    M   10/1/1970  0.98   laboral
4    Fein      Mang    1.78    M  12/03/1937  0.27      cap6
5  Victor     Colom    1.78    M  22/09/1957  0.97      cap8

In [41]:
df[df.Sexo=="M"] # es lo  mismo!

   Nombre Apellidos  Altura Sexo  Nacimiento   Cof Categoria
0    Will     Smith    1.43    M  10/10/1920  0.19   laboral
1     Jon      Snow    1.98    M   10/1/1970  0.98   laboral
4    Fein      Mang    1.78    M  12/03/1937  0.27      cap6
5  Victor     Colom    1.78    M  22/09/1957  0.97      cap8

In [42]:
dfg = df.groupby(["Categoria"]).aggregate({
    "Altura":"sum",
    "Cof":"mean"})

dfg

           Altura    Cof
Categoria
cap6         5.32  0.530
cap8         1.78  0.970
laboral      3.41  0.585

In [43]:
dfg.index

Index(['cap6', 'cap8', 'laboral'], dtype='object', name='Categoria')

In [44]:
dfg[dfg.Altura>3]

           Altura    Cof
Categoria
cap6         5.32  0.530
laboral      3.41  0.585

In [45]:
gr = df.groupby(['Sexo',"Categoria"]).mean(numeric_only=True)
gr

                Altura    Cof
Sexo Categoria
F    cap6        1.770  0.660
M    cap6        1.780  0.270
     cap8        1.780  0.970
     laboral     1.705  0.585

In [47]:
gr = df.groupby(['Sexo',"Categoria"])["Sexo"].count()
print(gr)

Sexo  Categoria
F     cap6         2
M     cap6         1
      cap8         1
      laboral      2
Name: Sexo, dtype: int64

In [48]:
gr = df.groupby(['Sexo',"Categoria"]).count()
gr.index

MultiIndex([('F',    'cap6'),
            ('M',    'cap6'),
            ('M',    'cap8'),
            ('M', 'laboral')],
           names=['Sexo', 'Categoria'])

In [49]:
gr.loc[("M",:)] # Como accedemos en rango en un multiindice?

SyntaxError: invalid syntax (209455939.py, line 1)

In [50]:
gr.loc["F"] # primer index

           Nombre  Apellidos  Altura  Nacimiento  Cof
Categoria
cap6            2          2       2           2    2

In [51]:
gr.loc["cap6"] # dependent index

KeyError: 'cap6'

In [52]:
# Necesitamos invocar un IndexSlice.
gr.loc[pd.IndexSlice[:, 'cap6'],:]
# https://pandas.pydata.org/docs/reference/api/pandas.IndexSlice.html

                Nombre  Apellidos  Altura  Nacimiento  Cof
Sexo Categoria
F    cap6            2          2       2           2    2
M    cap6            1          1       1           1    1

In [53]:
gr = df.groupby(['Sexo',"Categoria"]).count().reset_index()
gr

  Sexo Categoria  Nombre  Apellidos  Altura  Nacimiento  Cof
0    F      cap6       2          2       2           2    2
1    M      cap6       1          1       1           1    1
2    M      cap8       1          1       1           1    1
3    M   laboral       2          2       2           2    2

In [54]:
gr.index = gr["Categoria"]
print(gr)

          Sexo Categoria  Nombre  Apellidos  Altura  Nacimiento  Cof
Categoria
cap6         F      cap6       2          2       2           2    2
cap6         M      cap6       1          1       1           1    1
cap8         M      cap8       1          1       1           1    1
laboral      M   laboral       2          2       2           2    2

In [61]:
df = pd.read_csv("data_groups.csv")
print(df.head())
print(df.shape)

   Unnamed: 0        Dni                           Nom    CP      Ciutat Sexe  \
0           0  H61414629     Mara Dolores Arjona Jove  7800     Eivissa    M
1           1  S3138381C                  Nria Quirs  7511     Ruberts    F
2           2  J8698188C  Miguel Jos Mara Gil Vargas  7340       Alaro    M
3           3  A48821615       Jordi Chaves Bustamante  7609  Bellavista    F
4           4  U0247281I    Jana Rosa Collado Menndez  7006       Palma    M

  Tipus certificat cat  Punts
0                    B     73
1                    A     40
2                    A     45
3                    B     40
4                    B     86
(1000, 8)

In [62]:
dfc = df.groupby(["Ciutat","CP"])["Tipus certificat cat"].apply(list)
dfc

Ciutat      CP
Alaro       7340    [A, C, B, A, A, B, A, D, A, B, A, B, B, A, B, ...
Ariany      7529    [B, A, B, A, A, B, A, B, A, B, A, A, C, A, B, ...
Bellavista  7609    [B, C, A, A, A, C, A, A, B, A, A, A, B, A, C, ...
Binissalem  7350    [A, B, B, C, C, A, A, A, C, A, C, A, B, B, D, ...
Eivissa     7800    [B, A, A, B, B, B, A, A, A, A, B, C, A, A, B, ...
La Savina   7870    [A, A, A, B, A, A, B, B, A, A, B, A, B, B, A, ...
Mao         7701    [B, C, B, C, B, C, A, B, B, B, A, C, C, A, C, ...
            7703    [B, A, B, C, A, A, B, A, C, B, A, B, C, A, B, ...
Palma       7006    [B, A, B, B, A, A, A, B, B, A, A, B, B, A, B, ...
            7009    [A, D, A, B, C, A, A, C, B, A, A, A, C, A, A, ...
            7013    [A, A, B, C, C, C, C, A, A, A, B, A, C, C, A, ...
Pedruscada  7590    [A, B, A, A, A, A, B, B, C, B, B, B, C, A, A, ...
Ruberts     7511    [A, A, A, B, C, A, B, A, A, B, B, A, C, B, B, ...
Name: Tipus certificat cat, dtype: object

In [67]:
import pandas as pd
dfc.loc[pd.IndexSlice["Alaro", 7340]]

['A',
 'C',
 'B',
 'A',
 'A',
 'B',
 'A',
 'D',
 'A',
 'B',
 'A',
 'B',
 'B',
 'A',
 'B',
 'A',
 'D',
 'B',
 'B',
 'B',
 'A',
 'C',
 'A',
 'A',
 'B',
 'D',
 'B',
 'B',
 'C',
 'A',
 'A',
 'A',
 'C',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'A',
 'A',
 'D',
 'C',
 'B',
 'C',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'B',
 'A',
 'A',
 'D',
 'C',
 'C',
 'A',
 'A',
 'C',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'B',
 'B',
 'A',
 'A',
 'B',
 'A',
 'C',
 'A',
 'B',
 'A',
 'B',
 'A',
 'C',
 'A',
 'B',
 'A',
 'C',
 'A',
 'C',
 'B',
 'A',
 'B',
 'A',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'A',
 'B',
 'B',
 'A',
 'B',
 'B',
 'B',
 'A',
 'B',
 'A',
 'A',
 'B',
 'A',
 'C',
 'A']

In [68]:
tipusAlaro = dfc.loc[pd.IndexSlice["Alaro",7340]]

values, counts = np.unique(tipusAlaro, return_counts=True)
print(values) # Tipus
print(counts) # quantitat
print("-"*40)
distribucioAlaro = dict(zip(values,counts)) ## Que fa el ZIP?!
print(distribucioAlaro)

['A' 'B' 'C' 'D']
[57 42 16  5]
----------------------------------------
{np.str_('A'): np.int64(57), np.str_('B'): np.int64(42), np.str_('C'): np.int64(16), np.str_('D'): np.int64(5)}

In [69]:
## Tamb podem invocar funcions especifiques! en lloc de una sum, mean, max, etc.
df2 = df.groupby(["Ciutat","CP"]).agg(
        {"Tipus certificat cat": [lambda x: list(x), np.size]}) # lambda !

print(df2)

                                              Tipus certificat cat
                                                        <lambda_0> size
Ciutat     CP
Alaro      7340  [A, C, B, A, A, B, A, D, A, B, A, B, B, A, B, ...  120
Ariany     7529  [B, A, B, A, A, B, A, B, A, B, A, A, C, A, B, ...  113
Bellavista 7609  [B, C, A, A, A, C, A, A, B, A, A, A, B, A, C, ...   98
Binissalem 7350  [A, B, B, C, C, A, A, A, C, A, C, A, B, B, D, ...   93
Eivissa    7800  [B, A, A, B, B, B, A, A, A, A, B, C, A, A, B, ...   91
La Savina  7870  [A, A, A, B, A, A, B, B, A, A, B, A, B, B, A, ...   90
Mao        7701  [B, C, B, C, B, C, A, B, B, B, A, C, C, A, C, ...   63
           7703  [B, A, B, C, A, A, B, A, C, B, A, B, C, A, B, ...   45
Palma      7006  [B, A, B, B, A, A, A, B, B, A, A, B, B, A, B, ...   36
           7009  [A, D, A, B, C, A, A, C, B, A, A, A, C, A, A, ...   23
           7013  [A, A, B, C, C, C, C, A, A, A, B, A, C, C, A, ...   37
Pedruscada 7590  [A, B, A, A, A, A, B, B, C, B, B, B, C, A, A, ...  106
Ruberts    7511  [A, A, A, B, C, A, B, A, A, B, B, A, C, B, B, ...   85

In [70]:
# Qu s una funci lambda?

a = np.array([10,10,4,5,7,8,12,4507,30])
b = list(map(lambda i:i**2+2*i,a))

def f1(i):
    return i**2+2

b = list(map(f1,a))

print(b)

[np.int64(102), np.int64(102), np.int64(18), np.int64(27), np.int64(51), np.int64(66), np.int64(146), np.int64(20313051), np.int64(902)]

In [ ]:
#1) Usando el fichero WHO.csv, 
#Cul es el volumen total de CO2 emitido por cada continente?

In [71]:
import pandas as pd
import numpy as np

df = pd.read_csv("WHO.csv")
print(df)

                Country  CountryID  Continent  Adolescent fertility rate (%)  \
0           Afghanistan          1          1                          151.0
1               Albania          2          2                           27.0
2               Algeria          3          3                            6.0
3               Andorra          4          2                            NaN
4                Angola          5          3                          146.0
..                  ...        ...        ...                            ...
197             Vietnam        198          6                           25.0
198  West Bank and Gaza        199          1                            NaN
199               Yemen        200          1                           83.0
200              Zambia        201          3                          161.0
201            Zimbabwe        202          3                          101.0

     Adult literacy rate (%)  \
0                       28.0
1                       98.7
2                       69.9
3                        NaN
4                       67.4
..                       ...
197                     90.3
198                      NaN
199                     54.1
200                     68.0
201                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
..                                                 ...
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
..                                             ...
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
..                                           ...
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total  Population annual growth rate (%)  ...  \
0                            26088.0                                4.0  ...
1                             3172.0                                0.6  ...
2                            33351.0                                1.5  ...
3                               74.0                                1.0  ...
4                            16557.0                                2.8  ...
..                               ...                                ...  ...
197                          86206.0                                1.4  ...
198                              NaN                                NaN  ...
199                          21732.0                                3.0  ...
200                          11696.0                                1.9  ...
201                          13228.0                                0.8  ...

     Total_CO2_emissions  Total_income  Total_reserves  \
0                 692.50           NaN             NaN
1                3499.12  4.790000e+09           78.14
2              137535.56  6.970000e+10          351.36
3                    NaN           NaN             NaN
4                8991.46  1.490000e+10           27.13
..                   ...           ...             ...
197            101826.23  4.480000e+10           47.11
198               655.86  3.780000e+09             NaN
199             20148.34  1.150000e+10          114.52
200              2366.94  4.090000e+09           10.41
201             11457.33  5.620000e+09            3.39

     Trade_balance_goods_and_services  Under_five_mortality_from_CME  \
0                                 NaN                         257.00
1                       -2.040000e+09                          18.47
2                        4.700000e+09                          40.00
3                                 NaN                            NaN
4                        9.140000e+09                         164.10
..                                ...                            ...
197                     -1.940000e+09                          20.20
198                               NaN                          28.00
199                      8.310000e+08                          82.40
200                     -4.470000e+08                         175.30
201                     -1.710000e+08                         106.50

     Under_five_mortality_from_IHME  Under_five_mortality_rate  \
0                             231.9                     257.00
1                              15.5                      18.47
2                              31.2                      40.00
3                               NaN                        NaN
4                             242.5                     164.10
..                              ...                        ...
197                            23.4                      20.20
198                            25.8                      28.00
199                            87.9                      82.40
200                           163.8                     175.30
201                            67.0                     106.50

     Urban_population  Urban_population_growth  Urban_population_pct_of_total
0           5740436.0                     5.44                           22.9
1           1431793.9                     2.21                           45.4
2          20800000.0                     2.61                           63.3
3                 NaN                      NaN                            NaN
4           8578749.0                     4.14                           53.3
..                ...                      ...                            ...
197        21900000.0                     2.90                           26.4
198         2596216.0                     3.33                           71.6
199         5759120.5                     4.37                           27.3
200         4017411.0                     1.95                           35.0
201         4709965.0                     1.90                           35.9

[202 rows x 358 columns]

In [91]:
def rename_continents(df, columna="Continent"):
    df_new = df.copy()

    # Convert to int first so 1.0, "1"  1
    df_new[columna] = df_new[columna].astype(int)

    mapping = {
        1: "Africa",
        2: "Europe",
        3: "Asia",
        4: "North America",
        5: "South America",
        6: "Oceania",
        7: "Antarctica"
    }

    df_new[columna] = df_new[columna].map(mapping)

    return df_new

In [93]:
df = rename_continents(df)
df["Continent"].unique()

ValueError: cannot convert float NaN to integer

In [88]:
df.columns

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [89]:
df_new.groupby("Continent")["Total_CO2_emissions"].sum()

NameError: name 'df_new' is not defined

In [75]:
#2) Cul es el nmero de paises por continente?
df.groupby("Continent")["Country"].count()

Continent
1    21
2    51
3    48
4     7
5    31
6    35
7     9
Name: Country, dtype: int64

In [76]:
#3) Del conjunto who.csv selecciona 30 paises al azar y sobre ellos 
#calcula la media de Net primary school enrolment ratio female (%) 
#agrupados por: Continente
#Nota: la seleccin de 30 paises aleatoria ha de ser reproducible

df_sample = df.sample(n=30, random_state=42)

# 2. Calcular media de la columna deseada, agrupado por continente
resultado = df_sample.groupby("Continent")["Net primary school enrolment ratio female (%)"].mean()

resultado

Continent
1    92.000000
2    94.000000
3    59.375000
4    97.000000
5    89.333333
6    89.500000
7    74.000000
Name: Net primary school enrolment ratio female (%), dtype: float64

In [78]:
#3b) Repite la anterior actividad pero ahora con todos los paises. 
#Sale la misma media?

resultado_todos = df.groupby("Continent")["Net primary school enrolment ratio female (%)"].mean()
resultado_todos

Continent
1    85.789474
2    92.911111
3    67.574468
4    95.000000
5    89.137931
6    89.040000
7    85.444444
Name: Net primary school enrolment ratio female (%), dtype: float64

In [ ]:
#4) Calcula la cantidad de ayuda recibida 
#por cada municipio en funcin del nmero total de habitantes. (v2)

In [98]:
###Categorizacin de datos
import numpy as np
import pandas as pd
np.random.seed(0)
df_random = pd.DataFrame({"candidat":np.arange(1,11), "nota":np.random.randint(0,11,size=10)})
df_random

   candidat  nota
0         1     5
1         2     0
2         3     3
3         4     3
4         5     7
5         6     9
6         7     3
7         8     5
8         9     2
9        10     4

In [95]:
df_random["notaCategorica"] = pd.cut(df_random.nota, 3, labels=["dolent", "mig", "bona"])
df_random

   candidat  nota notaCategorica
0         1     5            mig
1         2     0         dolent
2         3     3         dolent
3         4     3         dolent
4         5     7           bona
5         6     9           bona
6         7     3         dolent
7         8     5            mig
8         9     2         dolent
9        10     4            mig

In [96]:
df_random[df_random.notaCategorica==df_random.notaCategorica.max()]

   candidat  nota notaCategorica
4         5     7           bona
5         6     9           bona

In [97]:
# mejora
bins = [-1, 4, 7, 8.5, 10]
labels = ['Suspens', 'Be', 'Notable', 'Excellent']
df_random["notaCategorica"] = pd.cut(df_random.nota, bins, labels=labels) # include_lowest=True
df_random

   candidat  nota notaCategorica
0         1     5             Be
1         2     0        Suspens
2         3     3        Suspens
3         4     3        Suspens
4         5     7             Be
5         6     9     Excellent
6         7     3        Suspens
7         8     5             Be
8         9     2        Suspens
9        10     4        Suspens

In [100]:
# Podemos definir el intervalo que deseemos (como un Histograma)
import numpy as np
marks = np.arange(0,1.1,0.25)
print(marks)
print
print("-"*10)

factors = pd.qcut(df_random.nota, marks)
print(factors)
print("-"*10)

print(pd.value_counts(factors))
print(df_random.nota)

[0.   0.25 0.5  0.75 1.  ]
----------
0       (3.5, 5.0]
1    (-0.001, 3.0]
2    (-0.001, 3.0]
3    (-0.001, 3.0]
4       (5.0, 9.0]
5       (5.0, 9.0]
6    (-0.001, 3.0]
7       (3.5, 5.0]
8    (-0.001, 3.0]
9       (3.5, 5.0]
Name: nota, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 3.0] < (3.0, 3.5] < (3.5, 5.0] < (5.0, 9.0]]
----------
nota
(-0.001, 3.0]    5
(3.5, 5.0]       3
(5.0, 9.0]       2
(3.0, 3.5]       0
Name: count, dtype: int64
0    5
1    0
2    3
3    3
4    7
5    9
6    3
7    5
8    2
9    4
Name: nota, dtype: int64

/var/folders/z7/r5bsb7z92m90nrt9c38l9prr0000gn/T/ipykernel_5025/316324575.py:10: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(factors))

In [102]:
# Del fichero:

import pandas as pd
df = pd.read_csv("rdu-weather-history.csv",sep=";")
# print(df.head())
# print(df.columns)
print(df.shape)
print(df.snowfall.describe())

# values, repeticiones = np.unique(df.snowfall,return_counts=True)
# print(values)
# print(repeticiones)

FileNotFoundError: [Errno 2] No such file or directory: 'rdu-weather-history.csv'