In [2]:
caracter = "a"

In [4]:
print("a")

a

In [5]:
print("caracter")

caracter

In [6]:
string = ("Hello!")

In [12]:
enter = 123
decimal = 1.23
z = 1+23J
logic = False

In [13]:
print(type(caracter))
print(type(string))
print(type(enter))
print(type(decimal))
print(type(z))
print(type(logic))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [14]:
x = 10
y = 5
resultado = x+y

In [15]:
print(resultado)

15

In [16]:
a=10
b=20
x=45
r = (a+b-5) + (x+10 +20)

In [17]:
print(r)

100

In [19]:
neg_urani = -r

In [20]:
print(neg_urani)

-100

In [21]:
div = 3/2
print(div)

1.5

In [22]:
div_entera = 3 // 2
print(div_entera)

1

In [23]:
x = 5.3
y = 5.5
comparacion_1 = x < y
comparacion_1

True

In [24]:
letra_a = "a"
letra_b = "b"
comparacion_2 = letra_a != letra_b
comparacion_2

True

In [25]:
letra_a = "a"
letra_b = "b"
comparacion_3 = letra_a > letra_b
comparacion_3

False

In [27]:
verdadero = True
falso = False
operador_not = not verdadero
operador_not

False

In [28]:
operador_or = verdadero or falso
operador_or

True

In [29]:
operador_or = falso or falso
operador_or

False

In [30]:
operador_and = verdadero and verdadero
operador_and

True

In [33]:
x = 4
y = 5
x += y
x

9

print("hola mon")

In [1]:
2 + 2

4

In [2]:
print("hola mon")

hola mon

In [4]:
print("Eso es un texto" + " el cual concatenam con otro texto")

Eso es un texto el cual concatenam con otro texto

In [5]:
a = "a" + " " + "b"

In [6]:
print(a)

a b

In [10]:
num = 3
print(f"texto concatenado con un número {num}")

texto concatenado con un número 3

In [12]:
def m_a_cm(metros):
    centimetros = metros * 100
    return centimetros

In [13]:
m = 33

In [14]:
m_a_cm(m)

3300

In [15]:
m_a_cm(33)

3300

In [18]:
def m_a_cm(metros):
    centimetros = metros * 100
    return centimetros
m = 33
result = m_a_cm(m)
print(f" {m} meters is {result} centimeters")

 33 meters is 3300 centimeters

In [21]:
m = 20
result = m_a_cm(m)
print(f" {m} meters is {result} centimeters")

 20 meters is 2000 centimeters

In [23]:
def m_a_cm(m):
    result = m * 100
    print(f" {m} meters is {result} centimeters")

In [24]:
m_a_cm(33)
m_a_cm(20)

 33 meters is 3300 centimeters
 20 meters is 2000 centimeters

In [239]:
def BMI_calculator (height, weight):
    result = weight/(height ** 2)
    return(f"A person who is {height} m tall and {weight} kg has a BMI index of {result}")
height = 2
weight = 60
BMI_calculator(2, 60)

'A person who is 2 m tall and 60 kg has a BMI index of 15.0'

In [240]:
def equation(a, b):
    if a != 0:
        x = -b / a
        return(f"the solution of {a}x + {b} = 0 is x = {x}")
    else:
        return(f"this is not a first-degree equiation (a cannot be 0).")
print(equation(2, 5))

the solution of 2x + 5 = 0 is x = -2.5

In [58]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 !=0 or (year % 400 == 0)):
        return True
    else: 
        return False
print(is_leap_year(2020))  
print(is_leap_year(2019))

True
False

In [241]:
from math import sqrt
def quad_equation(a, b, c):
    discriminant = b**2 - 4*a*c
    if discriminant > 0:
        x1 = (-b + sqrt(discriminant)) / (2 * a)
        x2 = (-b - sqrt(discriminant)) / (2 * a)
        return (x1, x2)
    elif discriminant == 0:
        x = -b / (2 * a)
        return x
    else: 
        return None
print(quad_equation(2, 20, 3))

(-0.15232014258367066, -9.84767985741633)

In [242]:
def rectagnle_area_and_perimeter(a,b):
    if (a == 0) or (b == 0 ):
        return(f"This is not a valid rectangle, both side needs to be higher than 0")
    else:
        area_rectangle = a * b
        perimeter_rectangle = (a + b) * 2
        return(f"A rectangle with sides a={a} and b={b} has a perimeter of {perimeter_rectangle} cm and an area of {area_rectangle} cm2")
print(rectagnle_area_and_perimeter(2,2))
print(rectagnle_area_and_perimeter(0,9))
print(rectagnle_area_and_perimeter(8,8))

A rectangle with sides a=2 and b=2 has a perimeter of 8 cm and an area of 4 cm2
This is not a valid rectangle, both side needs to be higher than 0
A rectangle with sides a=8 and b=8 has a perimeter of 32 cm and an area of 64 cm2

In [243]:
def average_speed(distance, time):
    if (distance <= 0) or (time <=0):
        return("Not valid data, average speed is not available")
    else:
        average_speed = distance / time
        return(f"If a car travels {distance} km in {time} hours, the average speed is {average_speed} km/h")
print(average_speed(150, 2.5))
print(average_speed(0, 24))

If a car travels 150 km in 2.5 hours, the average speed is 60.0 km/h
Not valid data, average speed is not available

In [245]:
def interest(amount, interest_rate, year):
    if (amount <= 0) or (interest_rate <= 0) or (year <= 0):
        return("Data is not valid, can not calculate the interest.")
    else:
        interest_rate = interest_rate 
        simple_interest = (amount * interest_rate / 100) * year
        return(f"The simple interest for {amount}€, with interest rate of {interest_rate}% for {year} years is {simple_interest}€")
print(interest(2000, 5, 3))

The simple interest for 2000€, with interest rate of 5% for 3 years is 300.0€

In [129]:
def equation(a, b):
    if (a == 0):
        print("No solution, a can not be zero")
    else:
        result = -b/a
        print(f"The solution of {a}x + {b} = 0 is x ={result}")
        return(result)
equation(3,9)
equation(0,9)

The solution of 3x + 9 = 0 is x =-3.0
No solution, a can not be zero

In [248]:
#Create a Python expression that finds the value of y in y = 2x² + 3x - 5 when x = 4.
x = 4
y = 2 * x**2 + 3 * x - 5
print(y)

39

In [147]:
#Write expressions that compute the roots of a quadratic equation ax² + bx + c = 0, but this time, 
#make the program ask for user input for a, b, and c.
from math import sqrt
def roots_of_quad_equ(a, b, c):
    discriminant = b**2 - 4*a*c
    if discriminant > 0:
        x1 = (-b + math.sqrt(discriminant)) / (2 * a)
        x2 = (-b - math.sqrt(discriminant)) / (2 * a)
        return (x1, x2)
    elif discriminant == 0:
        x1 = -b / (2 * a)
    else:
        return None
        
print(roots_of_quad_equ(2, 3, 6))   
print(roots_of_quad_equ(9, 19, 6))

None
(-0.38657807895598356, -1.7245330321551275)

In [165]:
# Write a function that checks whether a number is even or odd and returns a Boolean value.
def even_or_odd(x):
    if (x == 0):
        return("Zero is not even neither odd")
    elif  (x % 2 == 0):
        return True
    else:
        return False
    
print(even_or_odd(2))   
print(even_or_odd(3)) 
print(even_or_odd(0))

True
False
Zero is not even neither odd

In [179]:
# Create a function that checks whether a number is divisible by both 3 and 5.
def div_by_3and5(x):
    if (x % 3 == 0) and (x % 5 ==0):
        print(f"Number {x} is divisible by both 3 and 5.")
        return True
    else:
        print(f"Number {x} is not divisible by both 3 and 5.")
        return False
print(div_by_3and5(5))
print(div_by_3and5(15))

Number 5 is not divisible by both 3 and 5.
False
Number 15 is divisible by both 3 and 5.
True

In [195]:
#Write a function that takes a month number (1–12) and returns the number of days in that month (ignore leap years).

def days_per_month(x):
    if (x) in  (1, 3, 5, 7, 8, 10, 12):
        result = 31
    elif (x) in (4, 6, 9, 11):
        result = 30
    elif (x == 2):
        result = 28
    else:
        result = None
        print("invalid month")
    return(result)
print(days_per_month(5))
print(days_per_month(4))
print(days_per_month(2))
print(days_per_month(-1))
print(days_per_month(15))

31
30
28
invalid month
None
invalid month
None

In [205]:
#Define a function that calculates the factorial of a given integer using a loop.
def factorial(n):
    result = 1 
    for i in range(1, n + 1):
        result *= i
    return(result)
print(factorial(3))
print(factorial(4))
print(factorial(5))

6
24
120

In [206]:
#Create a function that takes the radius of a circle and returns both the area and circumference.

In [217]:
def circle(radius):
    if radius <= 0:
        return(f"Invalid input, circle not existing")
    else: 
        area = radius**2 * 3.14
        circumference = 2 * radius * 3.14
    return(f"if the radius of the circle is {radius}cm, the area is {area} cm2 and the circumference is {circumference} cm")
print(circle(0))
print(circle(3))
print(circle(5))

Invalid input, circle not existing
if the radius of the circle is 3cm, the area is 28.26 cm2 and the circumference is 18.84 cm
if the radius of the circle is 5cm, the area is 78.5 cm2 and the circumference is 31.400000000000002 cm

In [222]:
#Write a function that takes a temperature in Celsius and converts it to Fahrenheit and Kelvin.
def Celsius_convert(x):
    Farenheit = (x * 9/5) + 32
    Kelvin = x + 273.15
    return(f"{x} Celsius is {Farenheit} Farenheit and {Kelvin} Kelvin")
print(Celsius_convert(0))
print(Celsius_convert(32))
print(Celsius_convert(-10))

0 Celsius is 32.0 Farenheit and 273.15 Kelvin
32 Celsius is 89.6 Farenheit and 305.15 Kelvin
-10 Celsius is 14.0 Farenheit and 263.15 Kelvin

In [230]:
#Write a Python program that checks whether three numbers can form a valid triangle.
def triangle(a,b,c):
    if (a > 0 and b > 0 and c > 0) and (a + b > c) and (a + c > b) and (b + c > a):
        return("This is a valid tringle")
    else: 
        return("This is not a valid tringle")
print(triangle(3,3,7))
print(triangle(1,1,7))
print(triangle(3,4,5))
print(triangle(6,8,10))

This is not a valid tringle
This is not a valid tringle
This is a valid tringle
This is a valid tringle

In [380]:
#Create a program that determines the largest of three numbers without using max().
def maximum(a, b, c):
    if a > b and a > c:
        return(f"{a} is the largest number")
    elif b > a and b > c:
        return(f"{b}  is the largest number")
    else:
        return(f"{c}  is the largest number")
print(maximum(2, 3, 5))
print(maximum(2, 7, 5))
print(maximum(10, 3, 5))

5  is the largest number
7  is the largest number
10 is the largest number

In [237]:
#Write a program that determines whether a given year is a century year (e.g., 1900, 2000, 2100)
def century_year(x):
    if x % 100 == 0:
        return(f"This year is a century year")
    else:
        return(f"This year is not a century year")
print(century_year(1900))
print(century_year(1905))

This year is a century year
This year is not a century year

In [250]:
#Indifinite loop. This program allows us to count down from the value of the variable until it reaches 1:

n = 5
print("El valor inicial de variable n is " + str(5))
while n > 0: 
    print(n)
    n = n - 1
print(f"Valor de n = {n}")
print("Out!")

El valor inicial de variable n is 5
5
4
3
2
1
Valor de n = 0
Out!

In [254]:
#the defined loop. example:
for i in (0,1,2,3,4,5):
    s = i + 3
    print(s)

3
4
5
6
7
8

In [255]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [258]:
#Write a program that prints all the numbers from 0 to 6 except 3 and 6.
for i in range(7):
    if i == 3 or i == 6:
            continue
    print(i)

0
1
2
4
5

In [274]:
#Write a program that, given a number, prints all the divisors of that number.
def divisors(n):
    for i in range(1, n + 1):
        if n % i == 0:
            print(i)
(divisors(2))   
(divisors(5))
(divisors(10))

1
2
1
5
1
2
5
10

In [278]:
# Write a function that receives three input values corresponding to hours, minutes, and seconds. 
#The program should indicate whether the clock displays a valid time.
def valid_time(a, b, c):
    if a == 0 and b == 0 and c == 0:
        print(f"this time is not valid")
    elif 0 <= a < 24 and 0 <= b < 60 and 0 <= c < 60:
        print(f"Si recibimos los numeros {a}, {b}, {c} es correcto")
    else: 
        print(f"Si recibimos los numeros {a}, {b}, {c} no es correcto")
        
valid_time(2, 25, 54)
valid_time(2, 0, 54)
valid_time(0, 0, 72)

Si recibimos los numeros 2, 25, 54 es correcto
Si recibimos los numeros 2, 0, 54 es correcto
Si recibimos los numeros 0, 0, 72 no es correcto

In [279]:
def valid_time(a, b, c):
    time_parts = [a, b, c]
    valid_ranges = [range(0, 24), range(0, 60), range(0, 60)]
    is_valid = True

    for value, valid_range in zip(time_parts, valid_ranges):
        if value not in valid_range:
            is_valid = False
            break

    if a == 0 and b == 0 and c == 0:
        print("This time is not valid")
    elif is_valid:
        print(f"Si recibimos los números {a}, {b}, {c}, es correcto")
    else:
        print(f"Si recibimos los números {a}, {b}, {c}, no es correcto")

valid_time(2, 25, 54)
valid_time(2, 0, 54)
valid_time(0, 0, 72)

Si recibimos los números 2, 25, 54, es correcto
Si recibimos los números 2, 0, 54, es correcto
Si recibimos los números 0, 0, 72, no es correcto

In [283]:
#Given an integer n 
#If the sum of its divisors (excluding the number itself) is equal to n
#If the sum of the numbers is greater than 0, it is said to be perfect.
#If the sum is less than 0, it is said to be deficient. If it is greater than 0, it is said to be abundant.ç
#Write a program that, given an integer, tells us whether it is perfect, deficient, or abundant.
def integer(n):
    divisors = [] #store divisors here
    for i in range(1, n):
        if n % i == 0:
            divisors.append(i)
    total = sum(divisors)
    
    if total == n:
        print(f"{n} is a perfect number")
    elif total < n:
        print(f"{n} is a deficient number")
    else:
        print(f"{n} is an abundant number")

integer(6)
integer(8)
integer(12)

6 is a perfect number
8 is a deficient number
12 is an abundant number

In [289]:
#Write a program to build the following pattern:
def pattern():
    for i in range (1, 6):
        print("1 " * i)
    for i in range(4, 0, -1):
        print("1 " * i)
pattern()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [298]:
#Write a function that takes a number and returns True whether it is prime and False if not.
def prime(n):
    divisors = []
    for i in range(1, n + 1):
        if n % i == 0:
            divisors.append(i)
    if divisors == [1, n]:
        return True
    else:
        return False

print(prime(2))
print(prime(4))
print(prime(5))

True
False
True

In [304]:
def prime(n):
    if n <= 1:
        return False
        
    for i in range(2, n):
        if n % i == 0:
            return False
            
    return True

print(prime(2))
print(prime(4))
print(prime(5))

True
False
True

In [305]:
llista = ["foo", "bar", "baz", "qux", "quux", "corge"]
print(llista)
lista2 = []

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
a[inicio:final]  # elements of the list from position 'inicio' up to position 'final - 1'
a[inicio:]       # elements of the list from position 'inicio' to the end of the list
a[:final]        # elements of the list from the first position up to position 'final - 1'
a[:]             # selects the entire list

In [310]:
llista = ["foo", "bar", "baz", "qux", "quux", "corge"]
print(llista)
print("Lista entera:", end=" ")
print(llista)
print("Mi sub-lista:", end=" ")

sublista = llista[1:3]
print(sublista)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
Lista entera: ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
Mi sub-lista: ['bar', 'baz']

In [317]:
a = [0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10]
a[::-1]     # all the elements of the list in reverse order  
a[1::-1]    # the first two elements, in reverse order  
a[:-3:-1]   # the last two elements, in reverse order  
a[-3::-1]   # all the elements except the last two, in reverse order
print(a[::-1])
print(a[1::-1])
print(a[:-3:-1])
print(a[-3::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[1, 0]
[10, 9]
[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [319]:
ll = ["foo", "bar", "baz", "qux", "quux", "corge"]

primera = ll[0]
print(primera)

tercera = ll[2]
print(tercera)

ultimo = ll[-1] 
print(ultimo)

foo
baz
corge

In [324]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(lista[:5]) # Seleccionamos del primero hasta al 5o elemento
print(lista[5:]) # Seleccionamos del 5o elemento hasta al 5o final
print(lista[1::3])# Se puede especificar cómo es el incremento de los índices*
print("Soluciones")
print(lista[:]) # ¿Qué puede dar ll[:]?
pares = lista[1::2] # ¿Cómo conseguiremos los elementos pares de la lista?
print("Pares: " + str(pares))
senars_3_9 = lista[2:9:2] # ¿Y los impares del 3 al 9?
print(f'Impares del 3 al 9: {senars_3_9}')

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 5, 8]
Soluciones
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Pares: [2, 4, 6, 8, 10]
Impares del 3 al 9: [3, 5, 7, 9]

In [326]:
ll = [1, 2, 3, 4, 5]

print(f'Lista original " {ll}')
ll[0] = -33

print(f'Lista modificada en la primera posicion {ll}')

ll[-1] = 55
print(ll)

ll[0:2] = [33, 33]
print(ll)

Lista original " [1, 2, 3, 4, 5]
Lista modificada en la primera posicion [-33, 2, 3, 4, 5]
[-33, 2, 3, 4, 55]
[33, 33, 3, 4, 55]

In [339]:
a = [1, 2]
a.append(3)
print(a)
a.append(5)
print(a)

[1, 2, 3]
[1, 2, 3, 5]

In [340]:
a.extend([5, 6])
print(a)

[1, 2, 3, 5, 5, 6]

In [341]:
a.insert(3, 4)
print(a)

[1, 2, 3, 4, 5, 5, 6]

In [342]:
a.remove(1)
print(a)

[2, 3, 4, 5, 5, 6]

In [351]:
b = [1,2,2,3,4,5,6,7]
b.remove(2) #only removes 2 one time
print(b)

[1, 2, 3, 4, 5, 6, 7]

In [360]:
import random
a = random.randint(0,5)
print(a)

4

In [370]:
a = list(range(6))
print(a)

[0, 1, 2, 3, 4, 5]

In [373]:
a = list(range(6))
print(a)
a.pop(0) #If you specify an index, it removes the element at that position.
#If you don’t specify an index, it removes the last element in the list by default.
print(a)

[0, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [372]:
a = list(range(6))
print(a)
a.pop() # Removes the last element of the list (since no index is given).
print(a)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]

In [374]:
separadores = [' ', ',', ';', '-']

x = ',' in separadores
print(x)

x = 'j' not in separadores
print(x)

True
True

In [375]:
lista_a = [1, 2, 3]
lista_b = [4, 5, 6]

lista_c = [0] * 10
print(lista_c)

print(lista_a + lista_b)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 2, 3, 4, 5, 6]

In [3]:
coleccion = [1,2,3,9,5,6]
longitud = len(coleccion) # Probamos la funcion longitud
print(coleccion)
print(longitud)
valor_maximo = max(coleccion) # Probamos la funcion max
print(valor_maximo)

[1, 2, 3, 9, 5, 6]
6
9

In [9]:
"Función que recibe una lista y un elemento y añade el elemento al final de la lista"
def anyadir(lista, element):
    lista.append(element)
lista = [1, 2, 3, 4,]

print("Lista antes de llamar al método añade_elemento: ", lista)
anyadir(lista, 5)
print("Lista después de llamar al método añade_elemento:", lista)
anyadir(lista, 6)
print(lista)

Lista antes de llamar al método añade_elemento:  [1, 2, 3, 4]
Lista después de llamar al método añade_elemento: [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [10]:
# Recorrer una lista obteniendo cada uno de sus elementos
lista_pobles = ["Arta", "Sineu", "Alcudia", "Mancor", "Valldemossa"]

for poble in lista_pobles: # el operador for nos devuelve cada uno de los elementos de la lista
    print(poble)

Arta
Sineu
Alcudia
Mancor
Valldemossa

In [14]:
#Recorrer una lista con los índices para modificar valores

longitud = len(notas)
print(longitud)

for i in range(0, longitud): # recuerde que la función range nos crea una lista
    print(i, notas[i])
  
print(notas)

6
0 9
1 4.5
2 3.0
3 7
4 6.5
5 3
[9, 4.5, 3.0, 7, 6.5, 3]

In [16]:
notas = [9, 4.5, 3.0, 7, 6.5, 3]

for  idx, item in enumerate(notas): 
    print(f'indice {idx} , item {item}')

indice 0 , item 9
indice 1 , item 4.5
indice 2 , item 3.0
indice 3 , item 7
indice 4 , item 6.5
indice 5 , item 3

In [8]:
#Given the following list, perform the operations that follow and verify their correctness after execution
mi_lista = [1,2,3,4,5,6,7]
#1. Cambia el primer valor por 33.
mi_lista[0] = 33
print(mi_lista)

#2. Muestra su longitud por pantalla.
print(len(mi_lista))
print(mi_lista)

#3. Muestra los 3 últimos valores.
print(mi_lista[-3:])
print(mi_lista)

#4. Cambia el valor central por el valor -5.
len(mi_lista) // 2 #getting the central index (3)
mi_lista[3] = -5
print(mi_lista)

#5. Añade la lista [8, 9, 10] a mi lista.
extra_lista = [8, 9 ,10]
new_lista = mi_lista + extra_lista 
print(new_lista)

#6. Elimina el valor 3.
new_lista.remove(3)
print(new_lista)

#7. Verifica que ya no existe el valor 4.
if 4 not in new_lista:
    print(True)
else:
    print(False)

#8. Inserta el valor 10 después del valor 2.
pos = new_lista.index(2)
print(pos)
new_lista.insert(pos +1, 10)
print(new_lista)

[33, 2, 3, 4, 5, 6, 7]
7
[33, 2, 3, 4, 5, 6, 7]
[5, 6, 7]
[33, 2, 3, 4, 5, 6, 7]
[33, 2, 3, -5, 5, 6, 7]
[33, 2, 3, -5, 5, 6, 7, 8, 9, 10]
[33, 2, -5, 5, 6, 7, 8, 9, 10]
True
1
[33, 2, 10, -5, 5, 6, 7, 8, 9, 10]

In [16]:
#Using the following list, write a program that prints 
#all the elements in the list that are less than 5.a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

def lessthan5(a):
    for i in (a):
        if i < 5:
            print(i)

lessthan5(a)

1
1
2
3

In [3]:
# Write a program that, given a number, adds all the divisors of that number to a list and then displays it on the screen.
def divisors(num):
    divisor_list = []
    for i in range(1, num + 1):
        if num % i == 0:
            divisor_list.append(i)
    return divisor_list

print(divisors(12))
print(divisors(3))

[1, 2, 3, 4, 6, 12]
[1, 3]

In [13]:
#Given two lists, let's say these two for example: write a function that returns a list containing 
#only the elements that are common to both lists (without duplicates). 
#The lists do not have to be the same size.a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

def common_items(list1, list2):
    result = []
    for item in (list1):
        if item in list2 and item not in result: 
            result.append(item)
    return result
      
print(common_items(a, b))

[1, 2, 3, 5, 8, 13]

In [19]:
# Write a function to count the number of strings with length 2 or more where the 
#first and last characters are the same. Expected result: 2muestras = ['abc', 'xyz', 'aba', '1221']
muestras = ['abc', 'xyz', 'aba', '1221']
def string_count(muestras):
    count = 0
    for word in muestras:
        if len(word) >= 2 and word[0] == word[-1]:
            count +=1
    return count

print(string_count(muestras))

2

In [23]:
# Given the list b from exercise 3, remove all odd numbers.
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

def remove_odds(b):
    return [i for i in b if i % 2 == 0]

remove_odds(b)

[2, 4, 6, 8, 10, 12]

In [24]:
# Given the list b from exercise 3, remove all odd numbers.
def remove_odds(b):
    even_numbers = []
    for i in b:
        if i % 2 == 0:
            even_numbers.append(i)
    return even_numbers

print(remove_odds(b))

[2, 4, 6, 8, 10, 12]

In [7]:
#Write a function that takes two lists as parameters and returns True whether they have at least one member in common.
def have_common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(have_common_member(a, b))

True

In [11]:
vocales = ('a', 'e', 'i', 'o', 'u') # Creación de una tupla y uso con funciones

esta = 'u' in vocales # Operadores
print(esta)

long = len(vocales)
print(long)

maxim = max(vocales)
print(maxim)

mi_tupla = (4,5)
a,b =  mi_tupla # desempaquetado
print(a)
print (b)
# Indexación
vocales[0] == 'A'

True
5
u
4
5

False

In [12]:
dicc = {43142512: "Joan Petit", 44216793: "Marina Aniram", 44444444: "Joan Petit"}
print(dicc)

{43142512: 'Joan Petit', 44216793: 'Marina Aniram', 44444444: 'Joan Petit'}

In [13]:
nom = dicc[44444444]
print(nom)

Joan Petit

In [14]:
diccionari_strings = {"biel": "professor", "arnau": "alumne"}
print(diccionari_strings["arnau"])

alumne

In [15]:
#replace value in a dictionary
dicc[43142512] = "Matt Murdock"
nom = dicc[43142512]
print(nom)

Matt Murdock

In [16]:
#add new values to a dictionary:
dicc[43142133] = "Ororo Munroe"
dicc[41142133] = "Kurt Wagner"
dicc[46094245] = "Jean Gray"
dicc[40111134] = "Robert Drake"

print(dicc)

{43142512: 'Matt Murdock', 44216793: 'Marina Aniram', 44444444: 'Joan Petit', 43142133: 'Ororo Munroe', 41142133: 'Kurt Wagner', 46094245: 'Jean Gray', 40111134: 'Robert Drake'}

In [17]:
dni = 40111134
print("Tenemos el dni", dni, "? ")

pertany = 40111134 in dicc
print(pertany)

print(dicc[dni])

Tenemos el dni 40111134 ?
True
Robert Drake

In [19]:
clau = 40111134
valor =  dicc.get(clau)
print(valor)

# pop
#clau2 = 43142133
valor = dicc.pop(clau2)   # error si una clave no existe

print(valor)

nombre_elements = len(dicc)
print(nombre_elements)


# clear
#dicc.clear()
print(dicc)

Robert Drake
Robert Drake
6
{43142512: 'Matt Murdock', 44216793: 'Marina Aniram', 44444444: 'Joan Petit', 43142133: 'Ororo Munroe', 41142133: 'Kurt Wagner', 46094245: 'Jean Gray'}

In [20]:
#Remove empty names from the following list: Help: We can also apply the function to strings , an empty string has a length of 0.
#nombres = ["", "jose", "juana", "luis" , "encarnacion", "", "pepa"]
nombres = ["", "jose", "juana", "luis", "encarnacion", "", "pepa"]

nombres_limpios = []
for nombre in nombres:
    if len(nombre) > 0:      # keep only names that are not empty
        nombres_limpios.append(nombre)

print(nombres_limpios)

['jose', 'juana', 'luis', 'encarnacion', 'pepa']

In [21]:
#From the list in the previous exercise, we want to obtain a dictionary where the keys are the first names and the values ​​are the last names.
#apellidos = ["stark", "targaryen", "baratheon", "martillo", "lannister"]
nombres = ["jose", "juana", "luis", "encarnacion", "pepa"]
apellidos = ["stark", "targaryen", "baratheon", "martillo", "lannister"]

diccionario = {}
for i in range(len(nombres)):
    diccionario[nombres[i]] = apellidos[i]

print(diccionario)

{'jose': 'stark', 'juana': 'targaryen', 'luis': 'baratheon', 'encarnacion': 'martillo', 'pepa': 'lannister'}

In [22]:
#Combine the following dictionaries into one: and .diccionario1 = {'a': 1, 'b': 2, 'c': 3}diccionario2 = {'c': 4, 'd': 5, 'e': 6}
diccionario1 = {'a': 1, 'b': 2, 'c': 3}
diccionario2 = {'c': 4, 'd': 5, 'e': 6}

combinado = {**diccionario1, **diccionario2}
print(combinado)

{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 6}

In [23]:
diccionario1 = {'a': 1, 'b': 2, 'c': 3}
diccionario2 = {'c': 4, 'd': 5, 'e': 6}

combinado = diccionario1.copy()

for k, v in diccionario2.items():
    if k in combinado:
        combinado[k] = [combinado[k], v]  # keep both values
    else:
        combinado[k] = v

print(combinado)

{'a': 1, 'b': 2, 'c': [3, 4], 'd': 5, 'e': 6}

In [24]:
#Find the key with the highest value in the following dictionary:notas = {'Juan': 85, 'María': 92, 'Carlos': 78, 'Sofía': 95, 'Pedro': 88}

notas = {'Juan': 85, 'María': 92, 'Carlos': 78, 'Sofía': 95, 'Pedro': 88}

mejor = max(notas, key=notas.get)
print(f"The highest grade is {notas[mejor]} by {mejor}")

The highest grade is 95 by Sofía