In [9]:
!uv pip install pandas

Resolved 6 packages in 107ms
Installed 2 packages in 45ms
 + pandas==2.3.3
 + pytz==2025.2

In [11]:
import pandas as pd

In [46]:
df = pd.read_csv("WHO.csv")

In [14]:
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

In [15]:
df.shape

(202, 358)

In [16]:
df.columns

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [17]:
df.index

RangeIndex(start=0, stop=202, step=1)

In [18]:
df.shape

(202, 358)

In [19]:
df.columns[:5]

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)'],
      dtype='object')

In [20]:
df.columns[-2]

'Urban_population_growth'

In [21]:
df.columns[0:5]

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)'],
      dtype='object')

In [22]:
df.columns[-5:-1]

Index(['Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth'],
      dtype='object')

In [23]:
len(df.columns)

358

In [24]:
df.columns[200:226]

df.columns[len(df.columns)-3:len(df.columns)]

Index(['Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object')

In [25]:
df.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [28]:
df.head(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4

In [29]:
df.tail(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-447000000.0,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-171000000.0,106.5,67.0,106.5,4709965.0,1.90,35.9

In [30]:
df.tail(2)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-447000000.0,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-171000000.0,106.5,67.0,106.5,4709965.0,1.90,35.9

In [34]:

import pandas as pd

df_who = pd.read_csv("http://www.exploredata.net/ftp/WHO.csv") #dataframe

In [35]:
df_who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [36]:
df_who.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [37]:
df_who.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [38]:
df_who.shape

(202, 358)

In [39]:
print(df_who.columns)

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [40]:
for ix, col in enumerate(df_who.columns): #label
    print("ix:%i\tlabel:%s"%(ix,col))

ix:0	label:Country
ix:1	label:CountryID
ix:2	label:Continent
ix:3	label:Adolescent fertility rate (%)
ix:4	label:Adult literacy rate (%)
ix:5	label:Gross national income per capita (PPP international $)
ix:6	label:Net primary school enrolment ratio female (%)
ix:7	label:Net primary school enrolment ratio male (%)
ix:8	label:Population (in thousands) total
ix:9	label:Population annual growth rate (%)
ix:10	label:Population in urban areas (%)
ix:11	label:Population living below the poverty line (% living on &lt; US$1 per day)
ix:12	label:Population median age (years)
ix:13	label:Population proportion over 60 (%)
ix:14	label:Population proportion under 15 (%)
ix:15	label:Registration coverage of births (%)
ix:16	label:Total fertility rate (per woman)
ix:17	label:Antenatal care coverage - at least four visits (%)
ix:18	label:Antiretroviral therapy coverage among HIV-infected pregt women for PMTCT (%)
ix:19	label:Antiretroviral therapy coverage among people with advanced HIV infections (%)
ix:20	label:Births attended by skilled health personnel (%)
ix:21	label:Births by caesarean section (%)
ix:22	label:Children aged 6-59 months who received vitamin A supplementation (%)
ix:23	label:Children aged &lt;5 years sleeping under insecticide-treated nets (%)
ix:24	label:Children aged &lt;5 years who received any antimalarial treatment for fever (%)
ix:25	label:Children aged &lt;5 years with ARI symptoms taken to facility (%)
ix:26	label:Children aged &lt;5 years with diarrhoea receiving ORT (%)
ix:27	label:Contraceptive prevalence (%)
ix:28	label:Neonates protected at birth against neonatal tetanus (PAB) (%)
ix:29	label:One-year-olds immunized with MCV
ix:30	label:One-year-olds immunized with three doses of diphtheria tetanus toxoid and pertussis (DTP3) (%)
ix:31	label:One-year-olds immunized with three doses of Hepatitis B (HepB3) (%)
ix:32	label:One-year-olds immunized with three doses of Hib (Hib3) vaccine (%)
ix:33	label:Tuberculosis detection rate under DOTS (%)
ix:34	label:Tuberculosis treatment success under DOTS (%)
ix:35	label:Women who have had mammography (%)
ix:36	label:Women who have had PAP smear (%)
ix:37	label:Community and traditional health workers density (per 10 000 population)
ix:38	label:Dentistry personnel density (per 10 000 population)
ix:39	label:Environment and public health workers density (per 10 000 population)
ix:40	label:External resources for health as percentage of total expenditure on health
ix:41	label:General government expenditure on health as percentage of total expenditure on health
ix:42	label:General government expenditure on health as percentage of total government expenditure
ix:43	label:Hospital beds (per 10 000 population)
ix:44	label:Laboratory health workers density (per 10 000 population)
ix:45	label:Number of community and traditional health workers
ix:46	label:Number of dentistry personnel
ix:47	label:Number of environment and public health workers
ix:48	label:Number of laboratory health workers
ix:49	label:Number of nursing and midwifery personnel
ix:50	label:Number of other health service providers
ix:51	label:Number of pharmaceutical personnel
ix:52	label:Number of physicians
ix:53	label:Nursing and midwifery personnel density (per 10 000 population)
ix:54	label:Other health service providers density (per 10 000 population)
ix:55	label:Out-of-pocket expenditure as percentage of private expenditure on health
ix:56	label:Per capita government expenditure on health (PPP int. $)
ix:57	label:Per capita government expenditure on health at average exchange rate (US$)
ix:58	label:Per capita total expenditure on health (PPP int. $)
ix:59	label:Per capita total expenditure on health at average exchange rate (US$)
ix:60	label:Pharmaceutical personnel density (per 10 000 population)
ix:61	label:Physicians density (per 10 000 population)
ix:62	label:Private expenditure on health as percentage of total expenditure on health
ix:63	label:Private prepaid plans as percentage of private expenditure on health
ix:64	label:Ratio of health management and support workers to health service providers
ix:65	label:Ratio of nurses and midwives to physicians
ix:66	label:Social security expenditure on health as percentage of general government expenditure on health
ix:67	label:Total expenditure on health as percentage of gross domestic product
ix:68	label:Births attended by skilled health personnel (%) highest educational level of mother
ix:69	label:Births attended by skilled health personnel (%) highest wealth quintile
ix:70	label:Births attended by skilled health personnel (%) lowest educational level of mother
ix:71	label:Births attended by skilled health personnel (%) lowest wealth quintile
ix:72	label:Births attended by skilled health personnel (%) rural
ix:73	label:Births attended by skilled health personnel (%) urban
ix:74	label:Births attended by skilled health personnel difference highest lowest educational level of mother
ix:75	label:Births attended by skilled health personnel difference highest-lowest wealth quintile
ix:76	label:Births attended by skilled health personnel difference urban-rural
ix:77	label:Births attended by skilled health personnel ratio highest-lowest educational level of mother
ix:78	label:Births attended by skilled health personnel ratio highest-lowest wealth quintile
ix:79	label:Births attended by skilled health personnel ratio urban-rural
ix:80	label:Measles immunization coverage among one-year-olds (%) highest educational level of mother
ix:81	label:Measles immunization coverage among one-year-olds (%) highest wealth quintile
ix:82	label:Measles immunization coverage among one-year-olds (%) lowest educational level of mother
ix:83	label:Measles immunization coverage among one-year-olds (%) lowest wealth quintile
ix:84	label:Measles immunization coverage among one-year-olds (%) rural
ix:85	label:Measles immunization coverage among one-year-olds (%) urban
ix:86	label:Measles immunization coverage among one-year-olds difference highest-lowest educational level of mother
ix:87	label:Measles immunization coverage among one-year-olds difference highest-lowest wealth quintile
ix:88	label:Measles immunization coverage among one-year-olds difference urban-rural
ix:89	label:Measles immunization coverage among one-year-olds ratio highest-lowest educational level of mother
ix:90	label:Measles immunization coverage among one-year-olds ratio highest-lowest wealth quintile
ix:91	label:Measles immunization coverage among one-year-olds ratio urban-rural
ix:92	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference lowest-highest educational level of mother
ix:93	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference lowest-highest wealth quintile
ix:94	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference rural-urban
ix:95	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) highest educational level of mother
ix:96	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) highest wealth quintile
ix:97	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) lowest educational level of mother
ix:98	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) lowest wealth quintile
ix:99	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio lowest-highest educational level of mother
ix:100	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio lowest-highest wealth quintile
ix:101	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio rural-urban
ix:102	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) rural
ix:103	label:Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) urban
ix:104	label:Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) both sexes
ix:105	label:Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) female
ix:106	label:Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) male
ix:107	label:Age-standardized mortality rate for cancer (per 100 000 population)
ix:108	label:Age-standardized mortality rate for cardiovascular diseases (per 100 000 population)
ix:109	label:Age-standardized mortality rate for injuries (per 100 000 population)
ix:110	label:Age-standardized mortality rate for non-communicable diseases (per 100 000 population)
ix:111	label:Deaths among children under five years of age due to diarrhoeal diseases (%)
ix:112	label:Deaths among children under five years of age due to HIV/AIDS (%)
ix:113	label:Deaths among children under five years of age due to injuries (%)
ix:114	label:Deaths among children under five years of age due to malaria (%)
ix:115	label:Deaths among children under five years of age due to measles (%)
ix:116	label:Deaths among children under five years of age due to neonatal causes (%)
ix:117	label:Deaths among children under five years of age due to other causes (%)
ix:118	label:Deaths among children under five years of age due to pneumonia (%)
ix:119	label:Deaths due to HIV/AIDS (per 100 000 population per year)
ix:120	label:Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
ix:121	label:Deaths due to tuberculosis among HIV-positive people (per 100 000 population)
ix:122	label:Healthy life expectancy (HALE) at birth (years) both sexes
ix:123	label:Healthy life expectancy (HALE) at birth (years) female
ix:124	label:Healthy life expectancy (HALE) at birth (years) male
ix:125	label:Incidence of tuberculosis (per 100 000 population per year)
ix:126	label:Infant mortality rate (per 1 000 live births) both sexes
ix:127	label:Infant mortality rate (per 1 000 live births) female
ix:128	label:Infant mortality rate (per 1 000 live births) male
ix:129	label:Life expectancy at birth (years) both sexes
ix:130	label:Life expectancy at birth (years) female
ix:131	label:Life expectancy at birth (years) male
ix:132	label:Maternal mortality ratio (per 100 000 live births)
ix:133	label:Neonatal mortality rate (per 1 000 live births)
ix:134	label:Number of confirmed poliomyelitis cases
ix:135	label:Prevalence of HIV among adults aged &gt;=15 years (per 100 000 population)
ix:136	label:Prevalence of tuberculosis (per 100 000 population)
ix:137	label:Under-5 mortality rate (probability of dying by age 5 per 1000 live births) both sexes
ix:138	label:Under-5 mortality rate (probability of dying by age 5 per 1000 live births) female
ix:139	label:Under-5 mortality rate (probability of dying by age 5 per 1000 live births) male
ix:140	label:Years of life lost to communicable diseases (%)
ix:141	label:Years of life lost to injuries (%)
ix:142	label:Years of life lost to non-communicable diseases (%)
ix:143	label:Children under five years of age overweight for age (%)
ix:144	label:Children under five years of age stunted for age (%)
ix:145	label:Children under five years of age underweight for age (%)
ix:146	label:Newborns with low birth weight (%)
ix:147	label:Per capita recorded alcohol consumption (litres of pure alcohol) among adults (&gt;=15 years)
ix:148	label:Population using solid fuels (%) rural
ix:149	label:Population using solid fuels (%) urban
ix:150	label:Population with sustainable access to improved drinking water sources (%) rural
ix:151	label:Population with sustainable access to improved drinking water sources (%) total
ix:152	label:Population with sustainable access to improved drinking water sources (%) urban
ix:153	label:Population with sustainable access to improved sanitation (%) rural
ix:154	label:Population with sustainable access to improved sanitation (%) total
ix:155	label:Population with sustainable access to improved sanitation (%) urban
ix:156	label:Prevalence of adults (&gt;=15 years) who are obese (%) female
ix:157	label:Prevalence of adults (&gt;=15 years) who are obese (%) male
ix:158	label:Prevalence of condom use by young people (15-24 years) at higher risk sex (%) female
ix:159	label:Prevalence of condom use by young people (15-24 years) at higher risk sex (%) male
ix:160	label:Prevalence of current tobacco use among adolescents (13-15 years) (%) both sexes
ix:161	label:Prevalence of current tobacco use among adolescents (13-15 years) (%) female
ix:162	label:Prevalence of current tobacco use among adolescents (13-15 years) (%) male
ix:163	label:Prevalence of current tobacco use among adults (&gt;=15 years) (%) both sexes
ix:164	label:Prevalence of current tobacco use among adults (&gt;=15 years) (%) female
ix:165	label:Prevalence of current tobacco use among adults (&gt;=15 years) (%) male
ix:166	label:Adolescent_fertility_rate
ix:167	label:Agricultural_land
ix:168	label:Agriculture_contribution_to_economy
ix:169	label:Aid_given
ix:170	label:Aid_received
ix:171	label:Aid_received_total
ix:172	label:All_forms_of_TB_new_cases_per_100_000_estimated
ix:173	label:All_forms_of_TB_new_cases_per_100_000_reported
ix:174	label:Annual_freshwater_withdrawals_total
ix:175	label:Arms_exports
ix:176	label:Arms_imports
ix:177	label:Bad_teeth_per_child
ix:178	label:Births_attended_by_skilled_health_staff
ix:179	label:Breast_cancer_deaths_per_100_000_women
ix:180	label:Breast_cancer_new_cases_per_100_000_women
ix:181	label:Breast_cancer_number_of_female_deaths
ix:182	label:Breast_cancer_number_of_new_female_cases
ix:183	label:Broadband_subscribers
ix:184	label:Broadband_subscribers_per_100_people
ix:185	label:CO2_emissions
ix:186	label:CO2_intensity_of_economic_output
ix:187	label:Capital_formation
ix:188	label:Cell_phones_per_100_people
ix:189	label:Cell_phones_total
ix:190	label:Central_bank_discount_rate
ix:191	label:Cervical_cancer_deaths_per_100_000_women
ix:192	label:Cervical_cancer_new_cases_per_100_000_women
ix:193	label:Cervical_cancer_number_of_female_deaths
ix:194	label:Cervical_cancer_number_of_new_female_cases
ix:195	label:Children_and_elderly
ix:196	label:Children_out_of_school_primary
ix:197	label:Children_out_of_school_primary_female
ix:198	label:Children_out_of_school_primary_male
ix:199	label:Children_per_woman
ix:200	label:Coal_consumption
ix:201	label:Coal_consumption_per_person
ix:202	label:Coal_production
ix:203	label:Coal_production_per_person
ix:204	label:Colon_and_Rectum_cancer_deaths_per_100_000_men
ix:205	label:Colon_and_Rectum_cancer_deaths_per_100_000_women
ix:206	label:Colon_and_Rectum_cancer_new_cases_per_100_000_men
ix:207	label:Colon_and_Rectum_cancer_new_cases_per_100_000_women
ix:208	label:Colon_and_Rectum_cancer_number_of_female_deaths
ix:209	label:Colon_and_Rectum_cancer_number_of_male_deaths
ix:210	label:Colon_and_Rectum_cancer_number_of_new_female_cases
ix:211	label:Colon_and_Rectum_cancer_number_of_new_male_cases
ix:212	label:Consumer_price_index
ix:213	label:Contraceptive_use
ix:214	label:Deaths_from_TB_per_100_000_estimated
ix:215	label:Debt_servicing_costs
ix:216	label:Democracy_score
ix:217	label:Electric_power_consumption
ix:218	label:Electricity_generation
ix:219	label:Electricity_generation_per_person
ix:220	label:Energy_use
ix:221	label:Expenditure_per_student_primary
ix:222	label:Expenditure_per_student_secondary
ix:223	label:Expenditure_per_student_tertiary
ix:224	label:Exports_of_goods_and_services
ix:225	label:Exports_unit_value
ix:226	label:External_debt_total_DOD_current_USdollars
ix:227	label:External_debt_total_pct_of_GNI
ix:228	label:Female_labour_force
ix:229	label:Fixed_line_and_mobile_phone_subscribers
ix:230	label:Foreign_direct_investment_net_inflows
ix:231	label:Foreign_direct_investment_net_outflows
ix:232	label:Forest_area
ix:233	label:Gross_capital_formation
ix:234	label:HIV_infected
ix:235	label:Health_expenditure_per_person
ix:236	label:Health_expenditure_private
ix:237	label:Health_expenditure_public_pct_of_GDP
ix:238	label:Health_expenditure_public_pct_of_government_expenditure
ix:239	label:Health_expenditure_public_pct_of_total_health_expenditure
ix:240	label:Health_expenditure_total
ix:241	label:High_technology_exports
ix:242	label:Hydroelectricity_consumption
ix:243	label:Hydroelectricity_consumption_per_person
ix:244	label:Imports_of_goods_and_services
ix:245	label:Imports_unit_value
ix:246	label:Improved_sanitation_facilities_urban
ix:247	label:Improved_water_source
ix:248	label:Income_growth
ix:249	label:Income_per_person
ix:250	label:Income_share_held_by_lowest_20pct
ix:251	label:Industry_contribution_to_economy
ix:252	label:Inequality_index
ix:253	label:Infant_mortality_rate
ix:254	label:Infectious_TB_new_cases_per_100_000_estimated
ix:255	label:Infectious_TB_new_cases_per_100_000_reported
ix:256	label:Infectious_TB_treatment_completeness
ix:257	label:Inflation_GDP_deflator
ix:258	label:Internet_users
ix:259	label:Life_expectancy_at_birth
ix:260	label:Literacy_rate_adult_female
ix:261	label:Literacy_rate_adult_male
ix:262	label:Literacy_rate_adult_total
ix:263	label:Literacy_rate_youth_female
ix:264	label:Literacy_rate_youth_male
ix:265	label:Literacy_rate_youth_total
ix:266	label:Liver_cancer_deaths_per_100_000_men
ix:267	label:Liver_cancer_deaths_per_100_000_women
ix:268	label:Liver_cancer_new_cases_per_100_000_men
ix:269	label:Liver_cancer_new_cases_per_100_000_women
ix:270	label:Liver_cancer_number_of_female_deaths
ix:271	label:Liver_cancer_number_of_male_deaths
ix:272	label:Liver_cancer_number_of_new_female_cases
ix:273	label:Liver_cancer_number_of_new_male_cases
ix:274	label:Lung_cancer_deaths_per_100_000_men
ix:275	label:Lung_cancer_deaths_per_100_000_women
ix:276	label:Lung_cancer_new_cases_per_100_000_men
ix:277	label:Lung_cancer_new_cases_per_100_000_women
ix:278	label:Lung_cancer_number_of_female_deaths
ix:279	label:Lung_cancer_number_of_male_deaths
ix:280	label:Lung_cancer_number_of_new_female_cases
ix:281	label:Lung_cancer_number_of_new_male_cases
ix:282	label:Malaria_prevention_insecticide_treated_bed_nets_usage
ix:283	label:Malaria_treatment
ix:284	label:Malnutrition_weight_for_age
ix:285	label:Market_value_of_listed_companies
ix:286	label:Maternal_mortality
ix:287	label:Math_achievement_4th_grade
ix:288	label:Math_achievement_8th_grade
ix:289	label:Measles_immunization
ix:290	label:Medical_Doctors
ix:291	label:Merchandise_trade
ix:292	label:Military_expenditure
ix:293	label:Natural_gas_consumption
ix:294	label:Natural_gas_consumption_per_person
ix:295	label:Natural_gas_production
ix:296	label:Natural_gas_production_per_person
ix:297	label:Natural_gas_proved_reserves
ix:298	label:Natural_gas_proven_reserves_per_person
ix:299	label:Net_barter_terms_of_trade
ix:300	label:Nuclear_consumption
ix:301	label:Nuclear_consumption_per_person
ix:302	label:Number_of_deaths_from_TB_estimated
ix:303	label:Number_of_existing_TB_cases_estimated
ix:304	label:Oil_consumption
ix:305	label:Oil_consumption_per_person
ix:306	label:Oil_production
ix:307	label:Oil_production_per_person
ix:308	label:Oil_proved_reserves
ix:309	label:Oil_proven_reserves_per_person
ix:310	label:Old_version_of_Income_per_person
ix:311	label:Patent_applications
ix:312	label:Patents_granted
ix:313	label:Patents_in_force
ix:314	label:People_living_with_HIV
ix:315	label:Personal_computers_per_100_people
ix:316	label:Personal_computers_total
ix:317	label:Population_growth
ix:318	label:Population_in_urban_agglomerations_more_than_1_million
ix:319	label:Population_total
ix:320	label:Poverty_headcount_ratio_at_national_poverty_line
ix:321	label:Present_value_of_debt
ix:322	label:Primary_completion_rate_total
ix:323	label:Primary_energy_consumption
ix:324	label:Primary_energy_consumption_per_person
ix:325	label:Primary_school_completion_pct_of_boys
ix:326	label:Primary_school_completion_pct_of_girls
ix:327	label:Prostate_cancer_deaths_per_100_000_men
ix:328	label:Prostate_cancer_new_cases_per_100_000_men

In [41]:
type(df_who)

pandas.core.frame.DataFrame

In [42]:
type(df_who.columns)

pandas.core.indexes.base.Index

In [43]:
paises = df_who["Country"]
paises

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

In [44]:
type(df_who["Country"])

pandas.core.series.Series

In [47]:
print(df_who["Country"][0])
print("-"*30)
print(df_who["Country"][:5]) # slicing
print("-"*30)
print(df_who["Country"].values)

Afghanistan
------------------------------
0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: Country, dtype: object
------------------------------
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [48]:
df_who.Country

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

In [53]:
# Multiples columnas
df_who[df_who.columns[0:5]]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%)
0,Afghanistan,1,1,151.0,28.0
1,Albania,2,2,27.0,98.7
2,Algeria,3,3,6.0,69.9
3,Andorra,4,2,NaN,NaN
4,Angola,5,3,146.0,67.4
...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3
198,West Bank and Gaza,199,1,NaN,NaN
199,Yemen,200,1,83.0,54.1
200,Zambia,201,3,161.0,68.0
201,Zimbabwe,202,3,101.0,89.5

In [58]:
# Dos columnas específicas
df_who[["CountryID","Continent"]]

     CountryID  Continent
0            1          1
1            2          2
2            3          3
3            4          2
4            5          3
..         ...        ...
197        198          6
198        199          1
199        200          1
200        201          3
201        202          3

[202 rows x 2 columns]

In [57]:
# Existen dos métodos loc e iloc para acceder a sub-regiones de los datos
# funció: .iloc(filas, columnas)
df2 = df_who.iloc[:,3:5]
print(df2.shape)
print(df2.head())

(202, 2)
   Adolescent fertility rate (%)  Adult literacy rate (%)
0                          151.0                     28.0
1                           27.0                     98.7
2                            6.0                     69.9
3                            NaN                      NaN
4                          146.0                     67.4

In [59]:
fertilitat = df_who[df_who.columns[3]]

fertilitat

0      151.0
1       27.0
2        6.0
3        NaN
4      146.0
       ...
197     25.0
198      NaN
199     83.0
200    161.0
201    101.0
Name: Adolescent fertility rate (%), Length: 202, dtype: float64

In [60]:
print("Min ", fertilitat.min()) # a Pandas el concepte d'iterar "no té sentit"
print("Max ", fertilitat.max())
print("Count ", fertilitat.count())

Min  0.0
Max  199.0
Count  177

In [61]:
co2 = df_who["Total_CO2_emissions"]
co2.max()

np.float64(5776431.5)

In [62]:
df_who[co2==co2.max()]["Country"].values[0]

'United States of America'

In [63]:
co2 = df_who["Total_CO2_emissions"]
co2

0         692.50
1        3499.12
2      137535.56
3            NaN
4        8991.46
         ...
197    101826.23
198       655.86
199     20148.34
200      2366.94
201     11457.33
Name: Total_CO2_emissions, Length: 202, dtype: float64

In [64]:
df_who[co2==co2.max()]["Country"].values[0]

'United States of America'

In [65]:
co2 = df_who["Total_CO2_emissions"]
co2

0         692.50
1        3499.12
2      137535.56
3            NaN
4        8991.46
         ...
197    101826.23
198       655.86
199     20148.34
200      2366.94
201     11457.33
Name: Total_CO2_emissions, Length: 202, dtype: float64

In [66]:
co2.max()

np.float64(5776431.5)

In [67]:
co2==co2.max()

0      False
1      False
2      False
3      False
4      False
       ...
197    False
198    False
199    False
200    False
201    False
Name: Total_CO2_emissions, Length: 202, dtype: bool

In [68]:
df_who[co2==co2.max()]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0,1.0,...,5776431.5,1.100000e+13,NaN,-7.140000e+11,8.0,7.1,8.0,240000000.0,1.39,80.8

In [69]:
df_who[co2==co2.max()]["Country"]

192    United States of America
Name: Country, dtype: object

In [70]:
df_who[co2==co2.max()]["Country"].values

array(['United States of America'], dtype=object)

In [71]:
df_who[co2==co2.max()]["Country"].values[0]

'United States of America'

In [72]:
# También existen métodos para seleccionar de manera aleatoria muestras dentro de una serie
# Tip: Métodos montecarlo
fertilidad = df_who[df_who.columns[3]]
some = fertilidad.sample(n=3)
print(some)
fertilidad.sample(n=3,random_state=2) #on random_state és la llavor/seed del aleatori

190    37.0
102    19.0
185    51.0
Name: Adolescent fertility rate (%), dtype: float64

53      48.0
149     28.0
13     135.0
Name: Adolescent fertility rate (%), dtype: float64

In [73]:
df_who.index

RangeIndex(start=0, stop=202, step=1)

In [74]:
df_who.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201])

In [75]:
import pandas as pd

df = pd.read_csv("http://www.exploredata.net/ftp/WHO.csv") #dataframe

In [76]:
print(df.loc[0]) # equivalent to: df.iloc[0,:]

Country                           Afghanistan
CountryID                                   1
Continent                                   1
Adolescent fertility rate (%)           151.0
Adult literacy rate (%)                  28.0
                                     ...
Under_five_mortality_from_IHME          231.9
Under_five_mortality_rate               257.0
Urban_population                    5740436.0
Urban_population_growth                  5.44
Urban_population_pct_of_total            22.9
Name: 0, Length: 358, dtype: object

In [77]:
print(df.iloc[0,:])

Country                           Afghanistan
CountryID                                   1
Continent                                   1
Adolescent fertility rate (%)           151.0
Adult literacy rate (%)                  28.0
                                     ...
Under_five_mortality_from_IHME          231.9
Under_five_mortality_rate               257.0
Urban_population                    5740436.0
Urban_population_growth                  5.44
Urban_population_pct_of_total            22.9
Name: 0, Length: 358, dtype: object

In [79]:
df.loc[0].values

array(['Afghanistan', np.int64(1), np.int64(1), np.float64(151.0),
       np.float64(28.0), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(26088.0), np.float64(4.0),
       np.float64(23.0), np.float64(nan), np.float64(16.0),
       np.float64(4.0), np.float64(47.0), np.float64(6.0),
       np.float64(7.2), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(14.0), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(10.3), np.float64(73.0), np.float64(70.0),
       np.float64(83.0), np.float64(83.0), np.float64(nan),
       np.float64(66.0), np.float64(90.0), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(20.1), np.float64(27.5), np.float64(4.4),
       np.float64(4.0), np.float64(nan), np.float64(nan),
       np.float64(900.0), np.float64(nan), np.float64(nan),
       np.float64(14930.0), np.float64(nan), np.float64(900.0),
       np.float64(5970.0), np.float64(5.0), np.float64(nan),
       np.float64(97.2), np.float64(8.0), np.float64(6.0),
       np.float64(29.0), np.float64(23.0), np.float64(nan),
       np.float64(2.0), np.float64(72.5), np.float64(0.0),
       np.float64(nan), np.float64(2.5), np.float64(0.0), np.float64(5.4),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(473.0), np.float64(443.0), np.float64(500.0),
       np.float64(153.0), np.float64(706.0), np.float64(134.0),
       np.float64(1269.0), np.float64(18.9), np.float64(0.3),
       np.float64(1.1), np.float64(1.0), np.float64(5.9),
       np.float64(26.0), np.float64(22.1), np.float64(24.8),
       np.float64(10.0), np.float64(32.0), np.float64(0.0),
       np.float64(36.0), np.float64(36.0), np.float64(35.0),
       np.float64(161.0), np.float64(165.0), np.float64(154.0),
       np.float64(176.0), np.float64(42.0), np.float64(43.0),
       np.float64(42.0), np.float64(1800.0), np.float64(60.0),
       np.float64(16.0), np.float64(100.0), np.float64(231.0),
       np.float64(257.0), np.float64(254.0), np.float64(260.0),
       np.float64(76.0), np.float64(6.0), np.float64(18.0),
       np.float64(4.6), np.float64(59.3), np.float64(32.9),
       np.float64(nan), np.float64(0.01), np.float64(nan),
       np.float64(nan), np.float64(17.0), np.float64(22.0),
       np.float64(37.0), np.float64(25.0), np.float64(30.0),
       np.float64(45.0), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(9.8), np.float64(3.2),
       np.float64(13.1), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(58.35),
       np.float64(36.1), np.float64(nan), np.float64(108.83),
       np.float64(2750000000.0), np.float64(168.0), np.float64(87.0),
       np.float64(42.29), np.float64(0.0), np.float64(28000000.0),
       np.float64(2.9), np.float64(14.3), np.float64(11.7),
       np.float64(26.8), np.float64(874.0), np.float64(2021.0),
       np.float64(220.0), np.float64(0.000878), np.float64(0.02),
       np.float64(0.04), np.float64(62300000000.0), np.float64(4.0),
       np.float64(600000.0), np.float64(nan), np.float64(3.6),
       np.float64(6.9), np.float64(254.0), np.float64(511.0),
       np.float64(96.8), np.float64(nan), np.float64(nan),
       np.float64(1792633.0), np.float64(7.07), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(3.3),
       np.float64(2.8), np.float64(5.2), np.float64(4.5),
       np.float64(193.0), np.float64(236.0), np.float64(316.0),
       np.float64(377.0), np.float64(nan), np.float64(10.3),
       np.float64(33.0), np.float64(nan), np.float64(-7.0),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(12.43), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(5.19),
       np.float64(0.0), np.float64(nan), np.float64(8670.0),
       np.float64(25.05), np.float64(nan), np.float64(20.0),
       np.float64(4.16), np.float64(1.04), np.float64(3.3),
       np.float64(20.0), np.float64(5.2), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(55.66),
       np.float64(nan), np.float64(49.0), np.float64(39.0),
       np.float64(nan), np.float64(874.0), np.float64(nan),
       np.float64(24.48), np.float64(nan), np.float64(165.0),
       np.float64(76.0), np.float64(40.0), np.float64(90.0),
       np.float64(11.9), np.float64(1.0), np.float64(43.4),
       np.float64(12.59), np.float64(43.14), np.float64(28.0),
       np.float64(18.39), np.float64(50.81), np.float64(34.26),
       np.float64(3.5), np.float64(2.3), np.float64(3.7), np.float64(2.5),
       np.float64(147.0), np.float64(218.0), np.float64(155.0),
       np.float64(233.0), np.float64(11.3), np.float64(2.7),
       np.float64(12.2), np.float64(2.9), np.float64(173.0),
       np.float64(675.0), np.float64(190.0), np.float64(732.0),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(1900.0), np.float64(nan), np.float64(nan),
       np.float64(64.0), np.float64(0.19), np.float64(39.42),
       np.float64(9.93), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(8242.0), np.float64(66826.0), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(717.04), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(nan),
       np.float64(29900000.0), np.float64(nan), np.float64(nan),
       np.float64(37.73), np.float64(nan), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(2.8), np.float64(4.5),
       np.float64(151.0), np.float64(249.0), np.float64(0.68),
       np.float64(55.57), np.float64(36.2), np.float64(23.66),
       np.float64(3.14), np.float64(39.42), np.float64(15.8),
       np.float64(8.3), np.float64(18.5), np.float64(9.7),
       np.float64(499.0), np.float64(936.0), np.float64(592.0),
       np.float64(1108.0), np.float64(nan), np.float64(652090.0),
       np.float64(nan), np.float64(692.5), np.float64(nan),
       np.float64(nan), np.float64(nan), np.float64(257.0),
       np.float64(231.9), np.float64(257.0), np.float64(5740436.0),
       np.float64(5.44), np.float64(22.9)], dtype=object)

In [83]:
df.loc[4:10:2]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.1,242.5,164.1,8578749.0,4.14,53.3
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0,1.0,...,152711.86,3.140000e+11,21.11,1.190000e+10,18.1,16.7,18.1,34900000.0,1.17,90.1
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0,1.1,...,368858.53,4.680000e+11,NaN,-1.280000e+10,5.9,5.1,5.9,18000000.0,1.54,88.2
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.0,63.7,50.0,4321803.0,1.26,51.5

In [82]:
df.loc[[3,10,29,34]] #También se puede realizar una selección particular mediante una lista:

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.0,63.7,50.0,4321803.0,1.26,51.5
29,Cambodia,30,7,52.0,73.6,1550.0,89.0,91.0,14197.0,1.7,...,538.61,5.680000e+09,32.94,-5.470000e+08,97.3,94.3,97.3,2749235.0,4.58,19.7
34,Chad,35,3,193.0,25.7,1170.0,49.0,71.0,10468.0,3.1,...,139.23,2.790000e+09,14.17,-2.210000e+08,208.2,180.1,208.2,2566839.0,4.88,25.3

In [84]:
df.loc[0:1,["Continent"]]

   Continent
0          1
1          2

In [85]:
df.loc[0:3,["Continent","Total_CO2_emissions"]]

   Continent  Total_CO2_emissions
0          1               692.50
1          2              3499.12
2          3            137535.56
3          2                  NaN

In [87]:
df.loc[[0,3,20,100],["Country","Continent","Total_CO2_emissions"]]

         Country  Continent  Total_CO2_emissions
0    Afghanistan          1               692.50
3        Andorra          2                  NaN
20        Bhutan          7               414.03
100      Liberia          3               472.66

In [88]:
df.iloc[0]

Country                           Afghanistan
CountryID                                   1
Continent                                   1
Adolescent fertility rate (%)           151.0
Adult literacy rate (%)                  28.0
                                     ...
Under_five_mortality_from_IHME          231.9
Under_five_mortality_rate               257.0
Urban_population                    5740436.0
Urban_population_growth                  5.44
Urban_population_pct_of_total            22.9
Name: 0, Length: 358, dtype: object

In [89]:
df.iloc[0:4, 3:7] # ídem a una matriz

,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%)
0,151.0,28.0,NaN,NaN
1,27.0,98.7,6000.0,93.0
2,6.0,69.9,5940.0,94.0
3,NaN,NaN,NaN,83.0

In [92]:
df.iloc[0:1]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.5,NaN,NaN,NaN,257.0,231.9,257.0,5740436.0,5.44,22.9

In [93]:
df.iloc[0][0:4]

Country                          Afghanistan
CountryID                                  1
Continent                                  1
Adolescent fertility rate (%)          151.0
Name: 0, dtype: object

In [94]:
df.iloc[0][0:4].values

array(['Afghanistan', np.int64(1), np.int64(1), np.float64(151.0)],
      dtype=object)

In [105]:
df.iloc[0][0:4].values[0]

'Afghanistan'

In [104]:
df_who = pd.read_csv("http://www.exploredata.net/ftp/WHO.csv") #dataframe

alfabetitzacio = df_who[df_who['Adult literacy rate (%)'] > 70][["Country","Adult literacy rate (%)"]]


alfabetitzacio[alfabetitzacio["Country"] == "Italy"]

   Country  Adult literacy rate (%)
85   Italy                     98.4


#Selección condicional

In [106]:
df_who['Adult literacy rate (%)'] > 70

0      False
1       True
2      False
3      False
4      False
       ...
197     True
198    False
199    False
200    False
201     True
Name: Adult literacy rate (%), Length: 202, dtype: bool

In [101]:
seleccio = df_who['Adult literacy rate (%)'] > 70

In [102]:
# Multiples criterios
# CO_emisions y Fertilidad
import numpy as np
ix = np.where((df_who["Total_CO2_emissions"] > 10) & (df_who[df_who.columns[3]] <=0.6))
ix

(array([92]),)

In [3]:
import pandas as pd
df_who = pd.read_csv("http://www.exploredata.net/ftp/WHO.csv") #dataframe

alfabetitzacio = df_who[df_who['Adult literacy rate (%)'] > 70][["Country","Adult literacy rate (%)"]]


alfabetitzacio[alfabetitzacio["Country"] == "Italy"]

   Country  Adult literacy rate (%)
85   Italy                     98.4

In [5]:
df_who['Adult literacy rate (%)']

0      28.0
1      98.7
2      69.9
3       NaN
4      67.4
       ...
197    90.3
198     NaN
199    54.1
200    68.0
201    89.5
Name: Adult literacy rate (%), Length: 202, dtype: float64

In [6]:
seleccio = df_who['Adult literacy rate (%)'] > 70

In [7]:
# En aquest codi, de les files on seleccio == True agafam les dues columnes que ens interessen
df_who[seleccio][["Country","Adult literacy rate (%)"]]

        Country  Adult literacy rate (%)
1       Albania                     98.7
6     Argentina                     97.2
7       Armenia                     99.4
10   Azerbaijan                     98.8
12      Bahrain                     86.5
..          ...                      ...
193     Uruguay                     96.8
195     Vanuatu                     75.5
196   Venezuela                     93.0
197     Vietnam                     90.3
201    Zimbabwe                     89.5

[93 rows x 2 columns]

In [8]:
# Multiples criterios
# CO_emisions y Fertilidad
import numpy as np
ix = np.where((df_who["Total_CO2_emissions"] > 10) & (df_who[df_who.columns[3]] <=0.6))
ix

(array([92]),)

In [9]:
# Creamos un dataframe  con valores aleatorios
import numpy as np

np.random.seed(10)

df = pd.DataFrame({"one":np.random.randint(-10,10,5),
                  "two":np.random.random(5),
                  "three":np.random.randint(0,5,5)})
df

   one       two  three
0   -1  0.748804      0
1   -6  0.498507      2
2    5  0.224797      0
3  -10  0.198063      4
4    7  0.760531      3

In [10]:
df.T

              0         1         2          3         4
one   -1.000000 -6.000000  5.000000 -10.000000  7.000000
two    0.748804  0.498507  0.224797   0.198063  0.760531
three  0.000000  2.000000  0.000000   4.000000  3.000000

In [11]:
df.sum()

one     -5.000000
two      2.430701
three    9.000000
dtype: float64

In [12]:
df.sum(axis=1) # concepto de axis

0    -0.251196
1    -3.501493
2     5.224797
3    -5.801937
4    10.760531
dtype: float64

In [13]:
df.cumsum()

   one       two  three
0   -1  0.748804      0
1   -7  1.247311      2
2   -2  1.472108      2
3  -12  1.670170      6
4   -5  2.430701      9

In [14]:

df.cumsum(axis=1)

    one       two      three
0  -1.0 -0.251196  -0.251196
1  -6.0 -5.501493  -3.501493
2   5.0  5.224797   5.224797
3 -10.0 -9.801937  -5.801937
4   7.0  7.760531  10.760531

In [15]:
df.apply(np.abs,axis=1).cumsum() # función apply

   one       two  three
0    1  0.748804      0
1    7  1.247311      2
2   12  1.472108      2
3   22  1.670170      6
4   29  2.430701      9

In [16]:

df.apply(np.abs).cumsum(axis=1)

    one        two      three
0   1.0   1.748804   1.748804
1   6.0   6.498507   8.498507
2   5.0   5.224797   5.224797
3  10.0  10.198063  14.198063
4   7.0   7.760531  10.760531

In [17]:
df.cumprod()

    one       two  three
0    -1  0.748804      0
1     6  0.373284      0
2    30  0.083913      0
3  -300  0.016620      0
4 -2100  0.012640      0

In [18]:
df.cumprod(axis=1)

    one       two      three
0  -1.0 -0.748804  -0.000000
1  -6.0 -2.991042  -5.982084
2   5.0  1.123983   0.000000
3 -10.0 -1.980629  -7.922515
4   7.0  5.323715  15.971145

In [19]:
ones = np.ones(5) # numpy arrays
print(ones)

[1. 1. 1. 1. 1.]

In [20]:
df.sub(ones,axis=0)

    one       two  three
0  -2.0 -0.251196   -1.0
1  -7.0 -0.501493    1.0
2   4.0 -0.775203   -1.0
3 -11.0 -0.801937    3.0
4   6.0 -0.239469    2.0

In [21]:
df.sub(ones) #Alerta!

ValueError: Unable to coerce to Series, length must be 3: given 5

In [22]:
# nornalitzación z-score (media a 0 y desviación a 1)
ts_stand = (df - df.mean()) / df.std()
ts_stand

        one       two     three
0  0.000000  0.966021 -1.006231
1 -0.696733  0.045482  0.111803
2  0.836080 -0.961166 -1.006231
3 -1.254119 -1.059487  1.229837
4  1.114773  1.009150  0.670820

In [23]:
print(ts_stand.mean())
print("----")
print(ts_stand.std())

one      0.000000e+00
two      2.664535e-16
three    6.661338e-17
dtype: float64
----
one      1.0
two      1.0
three    1.0
dtype: float64

In [24]:
df_who["Country"]

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object